@model List<Partido>
@{
    ViewData["Title"] = "Partidos";
}


<div class="contenedor-tabla">
    <div class="contenedor-filtro">
        <form method="post" action="/Partidos/DelDia">
            <button type="submit" class="btn btn-dark"><b>Filtrar partidos por fecha</b></button>
            <input type="date" style="height:35px" name="Fecha" />
        </form>
    </div>
    <br />
    <div class="contenedor-filtro">
        <form method="post" action="/Partidos/EliminarPorIdEquipo">
            <p>Eliminar partidos de:</p>
            <select id="equiposLocal" name="idEquipo">
                @foreach (var partido in Model)
                {
                    <option value="@partido.local.Id">@partido.local.Nombre</option>
                }

            </select>
            <button type="submit" class="btn btn-dark"><b>Eliminar</b></button>
        </form>
        <br />
        <form method="post" action="/Partidos/EliminarPorIdEquipo">
            <p>Eliminar partidos de:</p>
            <select id="equiposVisitante" name="idEquipo">
                @foreach (var partido in Model)
                {
                    <option value="@partido.visitante.Id">@partido.visitante.Nombre</option>
                }

            </select>
            <button type="submit" class="btn btn-dark"><b>Eliminar</b></button>
        </form>
        <br />
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Local</th>
                <th scope="col">Visitante</th>
                <th scope="col">Resultado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
                <th scope="col">Estadio</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var partido in Model)
            {
                <tr>
                    <th scope="row">@partido.Id</th>
                    <td><a href="/Equipos/info/@partido.local.Nombre">@partido.local.Nombre</a></td>
                    <td><a href="/Equipos/info/@partido.visitante.Nombre">@partido.visitante.Nombre</a></td>
                    <td>@partido.resultado</td>
                    <td>@partido.Fecha.ToString("dd/MM/yy")</td>
                    <td>@partido.Fecha.ToString("hh:mm") pm</td>
                    <td>@partido.Lugar</td>
                    <td><a href="/Partidos/editar/@partido.Id">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>


